[submodule "third_party/cyclonedds-cxx"]
	path = third_party/cyclonedds-cxx
	url = https://github.com/eclipse-cyclonedds/cyclonedds-cxx.git
[submodule "third_party/cyclonedds"]
	path = third_party/cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds.git
